.benefits__wrap {
  margin-bottom: 60px;
}

.benefits__list {
  @include list-reset;

  @include above($tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @include above ($desktop-width) {
    flex-direction: column;
  }
}

.benefits__title {
  @include font-size(16px, 1.5em, 500);
  margin: 0;
  margin-bottom: 30px;
}

.benefits__subtitle {
  @include font-size (13px, 1.5em, 400);
}



.benefits__item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 60px;

  svg {
    display: block;
    color: $accent-color;
    width: 35px;
    height: 35px;
  }

  @include above ($desktop-width) {
    flex: 0 1 auto;
    margin-bottom: 35px;
  }

}

.benefits__subtitle {
  margin: 0;
  width: 60%;

  @include above ($desktop-width) {
    width: 100%;
  }
}
