.btn {
  @include button-reset;
  padding: 14px 24px;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;

  &--primary {
    background-color: $accent-color;
    color: $basic-white;

    &:hover {
      background-color: $transparent;
      color: $accent-color;
      outline: 1px solid $accent-color;
    }

    &:focus {
      opacity: 0.8;
    }
  }

  &--secondary {
    background-color: $transparent;
    color: $basic-black;

    &:hover {
      outline: 2px solid $accent-color;
      color: $accent-color;
    }

    &:focus {
      opacity: 0.8;
    }
  }
}
