.form-inner {
  border: 1px solid lighten($accent-color, 8);
  border-radius: 10px;
  overflow: hidden;

  @include above ($max-desktop-width) {
    max-width: 362px;
  }
}

.form-inner__title {
  @include font-size(14px, 1.5em, 600);
  background-color: $accent-color;
  color: $basic-white;
  padding: 0.5rem;
  border-bottom: 5px solid darken($accent-color, 6);
  text-align: center;
  margin: 0;
}

.form-inner__wrap {
  padding: 0 18px 18px;

  input {
    @include font-size(12px, 1.5em, 400);
    margin: 0;
    padding: 0.5rem;
  }

  label {
    @include font-size(12px, 1.5em, 400);
  }
}

.form-inner__group {
  margin-bottom: 15px;
}

.form-inner__subtitle {
  @include font-size(13px, 1.5em, 400);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem ;
}

.form__inner-btn {
  @include font-size(14px, 1.5em, 500);
  width: 100%;
  padding: 0.5rem;
}
