.headline__h2 {
  @include font-size (34px, 42px, 600);
  margin: 0;

  @include above($desktop-width) {
    @include font-size (36px, 45px, 600);
  }
}

.headline__h3 {
  @include font-size (21px, 26px, 600);
  margin: 0;

  @include above($desktop-width) {
    @include font-size (27px, 33px, 600);
  }
}

.headline__h4 {
  @include font-size (24px, 30px, 600);
  margin: 0;
}

.headline__h5 {
  @include font-size (17px, 21px, 600);
  margin: 0;
}




