.page {
  height: 100%;
}

.page__body {
  @include font-size(15px, 21px, 400);
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  color: $primary-text-color;
  background-color: $basic-white;
  font-family: $primary-text;
  font-style: normal;

  @include above($desktop-width) {
    @include font-size(16px, 21px, 400);
  }
}

.page__wrapper {
  @include above ($desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 500px));
    gap: 20px;
  }
}


