.page {
  height: 100%;
}

.page__body {
  @include font-size(15px, 21px, 400);
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  color: $primary-text-color;
  background-color: $basic-white;
  font-family: $primary-text;
  font-style: normal;

  @include above($desktop-width) {
    @include font-size(16px, 21px, 400);
  }
}

.page__wrapper {
  @include above ($desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @include above ($max-desktop-width) {
    flex-wrap: nowrap;
  }
}


