.reviews__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviews__title {
  @include font-size(16px, 1.5em, 500);
  margin-bottom: 30px;
}

.reviews__item {
  border-left: 3px solid $basic-grey;

  @include above ($tablet-width) {
    width: 50%;
  }

  @include above ($desktop-width) {
    width: 100%;
  }
}

.reviews__quote {
  margin: 0;
  margin-left: 5px;
  p {
    margin: 0;
}
}

.reviews__link {
  color: $primary-text-color;


  &:hover {
    color: $accent-color;
  }
}

.reviews__text {
  @include font-size (13px, 1.5em, 400);
}
